<!DOCTYPE html>

{% extends 'base.html' %}

{%block content %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
         {% with messages = get_flashed_messages(category_filter=["loggedin"]) %}
             {% if messages %}
                   {% for message in messages %}
                        <div class="alert alert-danger" role="alert"><p><b>{{ message }}</b></p></div>
                   {% endfor %}
             {% endif %}
          {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["password_success"]) %}
             {% if messages %}
                   {% for message in messages %}
                        <div class="alert alert-success" role="alert"><p><b>{{ message }}</b></p></div>
                   {% endfor %}
             {% endif %}
          {% endwith %}

</div>


    <div id="root"></div>
    



    <script src="{{url_for('static', filename='js/index.bundle.js')}}"></script>
    <script scr="../static/js/index.bundle.js"></script>

</body>

{%endblock content %}
</html>