

<!DOCTYPE html>
{% extends 'base.html' %}


{%block content %}

<body>

<div>
         {% with messages = get_flashed_messages(category_filter=["userorpassword"]) %}
             {% if messages %}
                   {% for message in messages %}
                        <div class="alert alert-danger" role="alert"><p><b>{{ message }}</b></p></div>
                   {% endfor %}
             {% endif %}
          {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["token_success"]) %}
             {% if messages %}
                   {% for message in messages %}
                        <div class="alert alert-success" role="alert"><p><b>{{ message }}</b></p></div>
                   {% endfor %}
             {% endif %}
          {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["token_expired"]) %}
             {% if messages %}
                   {% for message in messages %}
                        <div class="alert alert-danger" role="alert"><p><b>{{ message }}</b></p></div>
                   {% endfor %}
             {% endif %}
          {% endwith %}

        {% with messages = get_flashed_messages(category_filter=["password_success"]) %}
             {% if messages %}
                   {% for message in messages %}
                        <div class="alert alert-success" role="alert"><p><b>{{ message }}</b></p></div>
                   {% endfor %}
             {% endif %}
          {% endwith %}




</div>

<div>
    <main class="container-sm">
        <form method="POST" action="/login">
            <div class="p-5 mb-5 bg-light rounded-3">
                <h2 class="display-4">Sign In</h2>
                <div class="mb-3">
                    {{form.hidden_tag()}}
                    {{form.hidden_tag()}}

                    {{form.email.label(class="form-label")}}
                    {{form.email(class="form-control")}}
                    {{form.password.label(class="form-label")}}
                    {{form.password(class="form-control")}}
                    {{form.remember(class="form-check-input")}}
                    {{form.remember.label(class="form-check-label")}}




                    <br>
                    <br>

                    <button class="btn btn-secondary rounded-pill" type="submit">Sign In</button>
                </div>
                <div>
                    <a class="link-primary" href="/forget">Forgot Password?</a>
                </div>
            </div>
        </form>
    </main>
</div>
</body>
{%endblock content %}

</html>